
  <% if @user %>
      <% if Current.user %>
        <h1>こんにちは、<%= Current.user.user_name %>さん</h1>
      <% end %>
      <%= render partial: 'todos/todo' %>
  <% end %>


  <%= render partial: 'shared/header' %>