
test
  <% if @user %>
      <% if Current.user %>
        <h1>こんにちは、<%= Current.user.user_name %>さん</h1>
      <% end %>
    <%= button_to "ログアウト", logout_path, method: :delete, class: 'btn btn-primary' %>
  <% end %>

  <%= render partial: 'shared/header' %>
