
<ul class="navbar-nav ms-auto">
  <% if Current.user %>
           <%= button_to "ログアウト", logout_path, method: :delete, class: 'btn btn-primary' %>
   <% else %>
      <li class="nav-item">
           <%= link_to "ログイン", login_path, class: 'nav-link' %></li>
      <li class="nav-item">
           <%= link_to "新規登録", signup_path, class: 'nav-link' %></li>
   <% end  %>
</ul>